<div class="incident-history">
	<h1>Create an Incident</h1>
	<div class="row">
		<div class="span1">1</div>
		<div class="span4">content</div>
		<div class="span1"><button class="btn btn-small btn-primary" type="button">edit</button></div>
	</div>
	<div class="row show-grid">
		<div class="span1">1</div>
		<div class="span4">content</div>
		<div class="span1"><button class="btn btn-small btn-primary" type="button">edit</button></div>
	</div>
	<div class="row show-grid">
		<div class="span1">1</div>
		<div class="span4">content</div>
		<div class="span1"><button class="btn btn-small btn-primary" type="button">edit</button></div>
	</div>
	<div class="row show-grid">
		<div class="span1">1</div>
		<div class="span4">content</div>
		<div class="span1"><button class="btn btn-small btn-primary" type="button">edit</button></div>
	</div>
</div>